:root {
  --error-color: hotpink;
  --error-outline: 0.25rem solid var(--error-color);
  --warning-color: goldenrod;
  --warning-outline: 0.25rem solid var(--warning-color);
  --info-color: cornflowerblue;
  --info-outline: 0.25rem solid var(--info-color);
}

[onclick]:not(:is(button, a, area, datalist, option, input, select, textarea, summary, [role][tabindex])) {
  --wcag-success-criteria-level-a:
    '1.3.1 Info and Relationships'
    '2.1.1 Keyboard'
    '4.1.2 Name, Role, Value';
  --wcag-success-criteria-level-aaa: '2.1.3 Keyboard (No Exception)';
  --error-attached-click-handler: 'You seem to have attached a click handler to a non-interactive element without giving it an appropriate role. Either use a semantically appropriate element or ensure that you are using the correct ARIA roles and attributes.';

  outline: var(--error-outline);
}

[onclick*="location.href"] {
  --wcag-success-criteria-level-a:
    '1.3.1 Info and Relationships'
    '2.1.1 Keyboard'
    '4.1.2 Name, Role, Value';
  --wcag-success-criteria-level-aaa: '2.1.3 Keyboard (No Exception)';
  --error-onclick-simulated-link: 'It looks like you are using an onclick handler to navigate between pages, but have you heard about the <a> element? It does far more than you might expect and is incredibly difficult to simulate with JavaScript.';

  outline: var(--error-outline);
}
